{% extends "layout.html" %}
<br>

{% block caption_content %}
    <br>
    <div class="row">
        <h4 class="text-muted">Caption to meme</h4>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="text-center">Upload an Image</h4>
                    </div>
                    <div class="card-body text-center">
                        <!-- Image upload input -->
                        <input type="file" id="image_input" accept="image/*" class="form-control mb-3">

                        <!-- Image preview area -->
                        <div id="preview-container" class="d-none">
                            <img id="preview-image" src="" alt="Image Preview">
                        </div>

                        <!-- Submit button -->
                        <button id="submit_meme_btn" class="btn btn-success mt-3">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block meme_content %}

    <div class="row">

    </div>


{% endblock %}

