<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Optional jQuery UI (if needed) -->
    <!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>AI Memer</title>
</head>
<body>

<!-- Tabs for navigation -->
<br>
<div class="container">
    <h1>AI Memer</h1>
    <p>Generate a meme (before the group chat changes the subject)!</p>
    <nav>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="caption-tab" data-toggle="tab" href="#caption"
                   role="tab" aria-selected="true">Caption2Meme</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" id="meme-tab" data-toggle="tab" href="#meme" role="tab" aria-selected="false">Meme2Caption</a>#}
{#            </li>#}
        </ul>
    </nav>

    <!-- Tab content -->
    {% block tab_content %}
    {% endblock %}
<br>
</div>
</body>
</html>
